body {
	padding: 0;
	margin: 0;
}

.App {
	text-align: center;
	width: 100%;
	height: 100vh;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.AppHeader {
	color: aliceblue;
	margin: 0;
	padding-top: 20px;
}

.LoginContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 250px;
}

.LoginHeader {
	color: aqua;
}

.InputField {
	margin-bottom: 10px;
	width: 90%;
	padding: 10px;
}

.JoinButton {
	padding: 15px 0px;
	width: 100%;
	color: white;
	background-color: darkblue;
	margin-top: 10px;
	cursor: pointer;
	border: 0px;
	border-radius: 5px;
}
.MessagePageContainer {
	width: -webkit-fill-available;
	height: 100%;
	margin: 20px;
	border: 2px solid palegreen;
	display: flex;
}

.MessageContainer {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: white;
	align-items: flex-start;
}

.GroupName {
	color: aqua;
	background-color: black;
	width: 100%;
	padding: 10px 0px;
	margin: 0px;
}

.MessageListContainer {
	background-color: black;
	width: 100%;
	height: 100%;
	padding-top: 10px;
	border-top: 1px solid gray;
	/* padding: 10px; */
}

#Me {
	background-color: white;
	border-radius: 5px;
	min-width: 100px;
	max-width: 60vw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: max-content;
	margin: 10px;
	margin-left: auto;
}

#Others {
	background-color: blue;
	border-radius: 5px;
	min-width: 100px;
	color: white;
	max-width: 60vw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: max-content;
	margin: 10px;
}

.UserName {
	display: flex;
	width: -webkit-fill-available;
	margin: 0;
	padding: 5px 10px;
	border-bottom: 1px solid gray;
}

.userMessage {
	margin: 0;
	padding: 5px 10px;
}

.MessageInputContainer {
	width: -webkit-fill-available;
	display: flex;
	padding: 10px;
	/* margin: 10px; */
}

.MessageInputField {
	width: 90%;
	padding: 10px 20px;
	/* margin-right: 10px; */
}

.SendButton {
	background-color: green;
	color: white;
	border: 0px;
	width: 10%;
}

.MessageTypingContainer {
	width: -webkit-fill-available;
	display: flex;
	padding: 5px 0px 0px 5px;
	color: white;
	font-size: 13px;
	background-color: black;
	/* margin: 10px; */
}
